__pycache__/
*.py[cod]
*$py.class
*.so

.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.hypothesis/
.pyre/
.pytype/

.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
.env
.envrc

instance/
.ipynb_checkpoints/
.pdm-python
.pdm-build/
.pixi/
__pypackages__/
cython_debug/
.abstra/
.cursorignore
.cursorindexingignore

db.sqlite3
db.sqlite3-journal
